.header-bg {
  width: 100%;
  height: 100%;
  min-height: 12vh;
  background: white;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Ubuntu:wght@300;500;700&display=swap");

:root {
  --font-family: "Ubuntu", sans-serif;
  --dark-blue: #0a1930;
  --light-blue: #1f93ff;

  --color-white: #fff;
  --dark-text: #333;
  --form-button: #2da5ff;
  --color-grey: #eae6eb;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;

  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 13px;
}

body {
  font-family: var(--font-family);
}

section {
  width: 100%;
  padding: 4rem 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  margin-right: 2rem;
  padding: 0 10px;
}
